#md-editor {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

  border: 1px solid lightgrey;
  overflow: auto;
  outline: none;
  border-radius: 0px;
  background: #f5f5f5;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}
