.btlList {
  .list-group-item {
    display: flex;
    align-items: center;
  }

  .btlList__actions {
    margin-left: auto;

    .destroyItem {
      color: #cc0000;
    }

    > *:nth-child(n + 2) {
      margin-left: 1rem;
    }
  }
}

.btlList__addNewBtn {
  .text {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .btlList__addNewBtn {
    .icon {
      display: none;
    }
    .text {
      display: block;
    }
  }
}
