<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {{ css('jumbotron')}}
</head>
<body>

    @!section('before-nav')

        @include('partials.nav')

    @!section('after-nav')

    @!section('before-main')
    
        <main role="main">

        @!section('main')

        </main>

    @!section('after-main')

    @!section('before-footer')

    <footer class="container">
        @include('partials.footer')
    </footer>

    @!section('after-footer')
    

    @!section('before-scripts')

        @include('partials.common-scripts')
    @!section('after-scripts')

</body>
</html>
